
.headerContainer {
  width: 100vw;
  height:auto;
  display:flex;
  flex-direction: column;
  align-items: center;
}

a {
  text-decoration: none;
  color: #2FD2F2;
}

.intro {
  padding: 1em 5em;
}

@media(max-width: 700px) {
  .intro {
    padding: 1em 1em;
  }
}
.typed-header {
  height: auto;
  margin-bottom: 1em;
}

.footer {
  margin-top:auto;
}
