.formContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  input {
      width: 600px;
      height: 40px;
      padding-left:16px;
      border-top-left-radius: 16px;
      border-bottom-left-radius: 16px;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border: solid 1px rgb(235, 234, 234);
    }

  input.btn-info {
    color: white;
    width: 200px;
    padding-left:0;
    font-weight: 600;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}
