.ql-toolbar {
  border-top-left-radius: 1.5em;
  border-top-right-radius: 1.5em;
}

.ql-container {
  width: 60vw !important;
  height: auto;
  border-bottom-left-radius: 1.5em;
  border-bottom-right-radius: 1.5em;
}

.ql-editor {
  border: solid 1px rgb(235, 234, 234);
  border-radius: 1.5em;
}
